[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
serverless-wsgi = "*"

[dev-packages]

[requires]
python_version = "3.12"
